div.panel,p.flip{
    margin:0px;
    padding:5px;
    text-align:center;
    background:#abbd7a;
    border:solid 1px #f37979;
}

div.panel{
    display:none;
}

button{
    padding: 10px;
    background-color: rgb(236, 191, 93);
}

.blue{
    color:red;
}